tech_stack:
  language:
    name: Java
    version: 19
  dependency_manager:
    name: Maven
    version: 3
  framework:
    name: Spring Boot
    version: 3
  test_framework:
    name: jUnit
    version: 5
  test_dependencies:
    - name: AssertJ
      version: 3.1.1
    - name: Spring Boot Test
      version: 3
